body {
  background-repeat : repeat;
  background-image  : url('/assets/img/pattern7.png');
  overflow-y        : scroll;
}

.header {
  margin-top : 20px;
}

.header-top {
  font-family      : Impact, Verdana, sans-serif;
  font-size        : 400%;
  line-height      : 100%;
  background-image : none;
  background-color : rgba(255, 255, 255, 0.50);
  border           : 1px solid silver;
  border-bottom    : none;
  border-radius    : 15px;
  border-bottom-left-radius  : 0px;
  border-bottom-right-radius : 0px;
}

  .header-top .header-text {
    vertical-align : bottom;
    display        : inline-block;
    line-height    : 100%;
  }

  .header-top .header-image {
    vertical-align : bottom;
    line-height    : 100%;
    margin-top     : 5px;
    display        : inline-block;
    text-align     : right;
    overflow       : hidden;
  }
  
  .header-image img {
    position   : relative;
    bottom     : -15px;
    transition : all 0.3s;
  }
  
  .header-image img:hover {
    bottom     : 0;
  }  
  

.navbar-default {
  background-image  : none;
}

.content {
  background-image : none;
  background-color : white;
}


.form-signin-register {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin-register .form-signin-register-heading,
.form-signin-register .checkbox {
  margin-bottom: 10px;
}

.form-signin-register .checkbox {
  margin-left: 20px;
}

.form-signin-register input[type="text"],
.form-signin-register input[type="email"],
.form-signin-register input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}


.chatPanel {}

.chatPanel .messageInput {
  width   : 80%;
  padding : 7px 9px;
}

.chatPanel .messages {
  width         : 80%;
  overflow      : scroll;
  overflow-x    : hidden;
  height        : 8em;

  background-color : #F0F0F0;
}

.chatPanel .send {
  width : 10%;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

game {
  display : block;
  width   : 100%;
  height  : 500px;
  background-color: #F0F0F0;
  text-align : center;
  position : relative;
}

.myCards {
  padding-left : 50px;
  position     : absolute;
  bottom       : 20px;
  width        : 100%;
  text-align : center;
  transition   : all 0.1s;
}

.card img, .card {
	width  : 100px;
  height : 100px;
}

.myCards .card {
  transition  : all 0.1s;
  display     : inline-block;
  margin-left : -50px;
  
  opacity : 1;
}

.myCards .card img {  
  transition  : all 0.1s;
}


.myCards .card.ng-enter {
  transition  : 1s;
  opacity     : 0;
  margin-left : -60px;
}

.myCards .card.ng-enter-active {
  opacity     : 1;
  margin-left : -50px;
}

/*
.myCards .card.ng-leave {
  transition : 0.5s linear all;
  position   : relative;
  opacity    : 1;
  top        : 0;
}

.myCards .card.ng-leave-active {
  opacity     : 0;
  top         : -250px;
}
*/

.card0, .card1, .card2, .card3,
.card0 img, .card1 img, .card2 img, .card3 img {
	width  : 120px;
	height : 120px;
}

.card.card0 {
	position    : absolute;
	left        : 50%;
	margin-left : -60px;
	bottom      : 150px;
	transition  : all 1s;
}

.card.card0.ng-enter {
  transition    : all 1s;
  opacity       : 0;
  bottom        : 20px;
}

.card.card0.ng-enter.ng-enter-active {
  opacity : 1;
  bottom  : 150px;
}


.card.card2 {
	position    : absolute;
	left        : 50%;
	margin-left : -60px;
	top         : 150px;
}


.card.card1 {
	position    : absolute;
	top         : 50%;
	margin-top  : -60px;
	left        : 150px;
}


.card.card3 {
	position    : absolute;
	top         : 50%;
	margin-top  : -60px;
	right       : 150px;
}


.gameContainer h3 {
  margin-top : 5px;
  display    : inline-block;
}

.chatPanel h3 {
	margin-top : 5px;
}
